<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h3><%= 'Hello World!'.toUpperCase() %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati optio,
      mollitia ratione nam iure cumque itaque illum autem quibusdam, voluptatem
      vero odio consectetur officia minus numquam temporibus reprehenderit
      veniam provident.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      repudiandae aperiam architecto ducimus quos nulla, iste harum obcaecati
      illum iure. Eligendi illum vero aliquid quis, non maxime provident tempora
      quidem.
    </p>
  </body>
</html>
